{extend name="layout"/}

{block name="header"}
<li class="am-btn active"><i class="am-icon-file-o am-icon-fw"></i> 使用协议</li>
<li class="am-btn"><i class="am-icon-circle-o-notch am-icon-fw"></i>  环境检测</li>
<li class="am-btn"><i class="am-icon-database am-icon-fw"></i> 创建数据库</li>
<li class="am-btn"><i class="am-icon-check am-icon-fw"></i> 安装完成</li>
{/block}

{block name="body"}
<h2>UKcms 使用协议</h2>
<p>UKcms遵循GPL开源协议。GPL协议允许代码的开源/免费使用和引用/修改/衍生代码的开源/免费使用，但不允许修改后和衍生的代码做为闭源的商业软件发布和销售。</p>
<p>灵吉网络科技有限公司拥有UKcms的全部知识产权，包括商标和著作权。</p>
<p>灵吉网络科技不对用户使用UKcms进行非法用途所产生的任何法律后果负责。</p>

<h5> 灵吉网络科技只允许您在遵守以下各项条款的情况下受益于本软件的功能或者知识产权：</h5>
<ul>
    <li>将程序用于学习、研究等非盈利目的且保留版权信息："Powered By UKcms"的情况下用户可以免费使用UKcms。</li>
    <li>程序若用于企业建站、个人盈利类网站等盈利用途的需要购买授权。</li>
</ul>

<h5> 授权用户拥有以下权利：</h5>
<ul>
    <li>使用授权版程序。</li>
    <li>官方提供后续技术支持。</li>
    <li>不限站点数量。</li>
    <li>授权费可以抵扣定制费用。</li>
</ul>




<div class="am-fr"> 
    <a class="am-btn am-btn-primary" href="{$baseUrl}step1.html">我同意以上协议</a>
    <a class="am-btn am-btn-warning" target="_blank" href="http://www.ukcms.com">不同意</a>
</div>
{/block}