{extend name="layout"/}
{block name="content"}
<ul class="nav nav-tabs">
    {volist name="$groupArray" id="vo"}
    <li class="{if $key==$group}active{/if}">
        <a href="{:url('index',['group'=>$key])}" >
            {$vo}
        </a>
    </li>
    {/volist}
</ul>
<div class="tab-content tab-content-bordered bg-white">
    <form action="" method="post" id="tabledeal">
         {include file="inputItem"  /}
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary" value="确认修改">
        </fieldset>
    </form>
</div>
{/block}

